spring:
  profiles:
    active: local
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://redsky22.duckdns.org:13306/jpa_db
#    url: jdbc:mariadb://192.168.219.161:13306/jpa_db
    username: jpa_user
    password: jpa_user
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        #        format_sql: true
        default_batch_fetch_size: 100
        use_sql_comments: true
    database-platform: org.hibernate.dialect.MariaDB103Dialect
  data:
    web:
      pageable:
        default-page-size: 10
        max-page-size: 1000
#        one-indexed-parameters: true # Pageable page ? 0?? ???? 1?????? true:1 false:0) ???? ??
logging:
  level:
    org.hibernate.SQL: debug
    com:
      example:
        springjpastudy: debug
---
spring:
  profiles:
    active: local2
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
#    url: jdbc:mariadb://redsky22.duckdns.org:13306/jpa_db
    url: jdbc:mariadb://192.168.219.161:13306/jpa_db
    username: jpa_user
    password: jpa_user
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        #        format_sql: true
        default_batch_fetch_size: 100
        use_sql_comments: true
    database-platform: org.hibernate.dialect.MariaDB103Dialect
  data:
    web:
      pageable:
        default-page-size: 10
        max-page-size: 1000
#        one-indexed-parameters: true # Pageable page ? 0?? ???? 1?????? true:1 false:0) ???? ??
logging:
  level:
    org.hibernate.SQL: debug
    com:
      example:
        springjpastudy: debug
---
spring:
  profiles:
    active: prod
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    #    url: jdbc:mariadb://redsky22.duckdns.org:13306/jpa_db
#    url: jdbc:mariadb://192.168.219.161:13306/jpa_db
    url: jdbc:mariadb://127.0.0.1:13306/jpa_db
    username: jpa_user
    password: jpa_user
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        #        format_sql: true
        default_batch_fetch_size: 100
        use_sql_comments: true
    database-platform: org.hibernate.dialect.MariaDB103Dialect
  data:
    web:
      pageable:
        default-page-size: 10
        max-page-size: 1000
#        one-indexed-parameters: true # Pageable page ? 0?? ???? 1?????? true:1 false:0) ???? ??
logging:
  level:
    org.hibernate.SQL: debug
    com:
      example:
        springjpastudy: debug
