name: Deploy to Remote Server

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: windows-latest
    steps:
      - name: Checkout the code
        uses: actions/checkout@v2

      - name: Set up JDK 17
        uses: actions/setup-java@v1
        with:
          java-version: 17

      - name: Build with Maven
        run: mvn -B package --file pom.xml

      - name: Add SSH key
        uses: webfactory/ssh-agent@v0.4.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
#          ssh_known_hosts_path: /etc/ssh/ssh_known_hosts

      - name: Connect to Remote Server via SSH
        run: ssh -i ${{ secrets.SSH_PRIVATE_KEY_PATH }} -o StrictHostKeyChecking=no ${{ secrets.REMOTE_USERNAME }}@${{ secrets.REMOTE_HOST }} -p ${{ secrets.SSH_PORT }}

      - name: Upload artifact to remote server
        run: scp -r -i ${{ secrets.SSH_PRIVATE_KEY_PATH }} -P ${{ secrets.SSH_PORT }} target/toy3-0.0.1-SNAPSHOT.jar ${{ secrets.REMOTE_USERNAME }}@${{ secrets.REMOTE_HOST }}:/home/user/toy3-0.0.1-SNAPSHOT.jar

      - name: Restart the service
        run: ssh -i ${{ secrets.SSH_PRIVATE_KEY_PATH }} -o StrictHostKeyChecking=no ${{ secrets.REMOTE_USERNAME }}@${{ secrets.REMOTE_HOST }} -p ${{ secrets.SSH_PORT }} "sudo systemctl restart my-app.service"
