name: Deploy

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK 17
        uses: actions/setup-java@v1
        with:
          java-version: 17

      - name: Build with Maven
        run: mvn package -DskipTests

      - name: Copy Jar File to Server
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USERNAME }}
          password: ${{ secrets.SERVER_PASSWORD }}
          port: 3333
          source: target/toy3-0.0.1-SNAPSHOT.jar
          target: /home/boot

      - name: Stop Spring Boot Application
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USERNAME }}
          password: ${{ secrets.SERVER_PASSWORD }}
          port: 3333
          # Find the PID of the running Spring Boot process and kill it
          script: |
            PID=$(pgrep -f toy3-0.0.1-SNAPSHOT.jar)
            if [ -n "$PID" ]; then
              echo "Stopping running process with PID $PID"
              kill "$PID"
            else
              echo "No running process found"
            fi

      - name: Run Spring Boot Application
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USERNAME }}
          password: ${{ secrets.SERVER_PASSWORD }}
          port: 3333
          script: |
            cd /home/boot
            cd /target
            nohup java -jar toy3-0.0.1-SNAPSHOT.jar > /dev/null 2>&1 &